.o_search_panel.product_root {
    flex: 0 0 350px;
    padding: 6px;
    scrollbar-width: thin;
    .o_search_panel_section_header {
        display: none;
    }
}
.o_list_number {
                text-align: center!important;
            }
.o_list_number_th {
                text-align: center!important;
            }